body {
	background-color: #B5B59D;
	clear: both;
	font-family: helvetica;
}

#bar {
	left: 0;
}

nav ul li {
	display: inline-block;
	float: left;
	width: 15%;
	height: 5%;
	padding: 1%;
	text-decoration: none;
	color: cyan;
	background-color: black;
}

nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
}

h1 {
	padding-top: 1%;
	clear: both;
}

#article_title {
	margin:2%;
	color: navy;
}

#article_container {
	margin: 2%;
	background-color: white;
	border-radius: 5px;
	border-style: solid;
	border-color: navy;
	width: 90%;
	text-align: left;

}

#article_text {
	padding-left: 2%;
	font-size: 16px;
	line-height: 27px;
	font-family: helvetica;
}

.drop_cap {
	color:#888;
	float:left;
	font-family:sans-serif;
	font-size:20px;
	font-style:normal;
	text-shadow:#333 1px 1px;
}

footer {
	padding-left: 2%;
	width: 100%;
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
}
